body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.buttons {
    margin-top: 40px;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 10px;
}

#noBtn {
    background-color: #ccc;
    border: none;
    border-radius: 10px;
}

.enfant-img {
    display: block;
    margin: 25px auto 10px auto;
    width: 150px;          /* ajuste comme tu veux */
    max-width: 70vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 100px;

  /* Fond global */
  background-image: url("images/nous.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optionnel : effet "parallax" */
}
.page {
  width: min(900px, 92%);
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2px);
}
.start-btn{
  display: inline-block;
  padding: 14px 26px;
  font-size: 20px;
  text-decoration: none;
  background: #ff4d6d;
  color: white;
  border-radius: 12px;
  transition: transform 0.15s ease;
}

.start-btn:hover{
  transform: scale(1.05);
}

.final-text{
  font-family: "Comic Sans MS", "Arial", sans-serif; /* change ici */
  color: #fa73ec; /* change la couleur ici */
  font-size: 48px;
  margin-top: 120px;
  text-shadow: 0 4px 12px rgba(0,0,0,0.25);
    backdrop-filter: blur(1px);
}
